form(ng-submit="submit()", ng-controller="StoreController", ng-init="init()")
  div.row
    div.col-md-10
      h2 New Store
  div.row
    p
      | Name 
      input(type="text",ng-model="store.name",required)
  div.row
    p
      | Type
      select(ng-options="option.name for option in configs track by option._id",ng-model="configSelected").form-control
  div.row
    p
      | Hardware ID
      input(type="text",ng-model="store.stid",required)
  
  input(type="submit", id="submit", value="Save")
